.header-sp {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .header-sp {
    display: none !important;
  }
}

.header-content-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (max-width: 767px) {
  .header-pc {
    display: none !important;
  }
}

.header-pc {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-ms-engineer-l {
  margin-left: 7.5%;
  margin-right: auto;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header-link + .header-link {
    margin-left: var(--space-8x);
  }
}

.header-link-caption,
.header-link-sub-caption {
  line-height: 100%;
  text-align: center;
  color: var(--black);
}

.header-link-caption {
  font-family: Avenir Next;
  font-weight: 600;
  font-size: var(--font-4x);
  letter-spacing: 0.08em;
}

.header-link-sub-caption {
  margin-top: var(--space-1x);
  font-weight: 500;
  font-size: calc(2.75 * var(--font-unit));
}

.header-entry-button {
  margin-top: var(--space-6x);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 60%;
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  background: linear-gradient(
    91.68deg,
    var(--primary-color) 0%,
    var(--primary-color-2) 100%
  );
}

.header-sp .header-entry-button {
  width: fit-content;
  padding: 6px;
  margin-right: var(--space-4x);
  margin-bottom: var(--space-6x);
  background: linear-gradient(
    91.68deg,
    var(--primary-color) 0%,
    var(--primary-color-2) 100%
  );
}

@media screen and (min-width: 768px) {
  .header-entry-button {
    margin-top: 0;
    margin-left: var(--space-10x);
    margin-right: calc(14 * var(--space-unit));
    height: 56px;
    width: 206px;
  }
}

.header-entry-button-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-entry-button-titles {
    margin-left: var(--space-4x);
  }
}

@media screen and (min-width: 768px) {
  .header-entry-button .icon-next {
    margin-left: calc(8 * var(--space-unit));
  }
}

.header-button-title {
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 100%;
  text-align: center;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .header-button-title {
    font-size: var(--font-3xh);
  }
}

/* ドロワーメニュー */
.drawer-checkbox {
  display: none;
}

/* ドロワーメニューと開閉 */
.drawer-menu {
  position: fixed;
  top: 0;
  left: -60%;
  z-index: 200;
  height: 100%;
  width: 60%;
  transform: translateX(0);
  transition: 0.4s;
  background-color: var(--white);
}
.drawer-checkbox:checked ~ .drawer-menu {
  transform: translateX(100%);
}

.drawer-menu ul {
  margin-top: var(--space-2x);
  list-style-type: none;
}

.drawer-menu a {
  display: block;
  padding: var(--space-4x);
  color: var(--black-2);
  text-decoration: none;
}

/* ドロワーメニューの背景 */
.drawer-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.drawer-checkbox:checked ~ .drawer-background {
  display: block;
}
