.partners {
  margin: var(--space-5x) var(--space-5x) 0 var(--space-5x);
  display: flex;
  flex-flow: row wrap;
  height: 189px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .partners {
    margin: var(--space-4x) auto 0 auto;
    width: 63%;
    height: auto;
  }
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33%;
}
@media screen and (min-width: 768px) {
  .logo-box {
    width: auto;
  }
}