.skills {
  margin-top: var(--space-6x);
  margin-left: var(--space-4x);
  margin-right: var(--space-4x);
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .skills {
    margin-top: calc(6.5 * var(--space-unit));
    margin-left: var(--space-h-pc);
    margin-right: var(--space-h-pc);
    flex-flow: row wrap;
    justify-content: left;
  }
}

.skill {
  overflow: hidden;
  background-color: var(--purple-6);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .skill {
    width: 32%;
  }
}

.skill-caption {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: var(--space-1x) var(--space-2x) 0 var(--space-4x);
}

.skill-caption .caption-main {
  font-weight: bold;
  font-size: var(--font-4x);
  line-height: 140%;
  background: linear-gradient(
    91.68deg,
    var(--primary-color) 0%,
    var(--primary-color-2) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.skill-caption .caption-sub,
.skill-caption .caption-sub .number {
  font-family: Noto Serif JP;
  font-weight: bold;
  font-size: var(--font-6x);
  line-height: 100%;
  color: #d8ddee;
}

.skill-caption .caption-sub .number {
  font-size: calc(8.5 * var(--font-unit));
}

.skill-explanation {
  margin: var(--space-1x) var(--space-4x) var(--space-4x) var(--space-4x);
  font-size: var(--font-3xh);
  line-height: 160%;
  color: var(--black-2);
}

#skills .entry-button {
  margin: var(--space-3x) auto 0 auto;
}

#skills .comment-body {
  margin-top: calc(6.5 * var(--font-unit));
}

#skills img {
  margin-top: calc(6.5 * var(--font-unit));
}

@media screen and (max-width: 767px) {
  .skill + .skill {
    margin-top: var(--space-3x);
  }
}
@media screen and (min-width: 768px) {
  .skills .skill:nth-child(n + 2):nth-child(-n + 3),
  .skills .skill:nth-child(n + 5) {
    margin-left: 2%;
  }
}
@media screen and (min-width: 768px) {
  .skills .skill:nth-child(n + 4) {
    margin-top: 2%;
  }
}
