.comparison-contents {
  margin-top: var(--space-6x);
  margin-left: var(--space-4x);
  margin-right: var(--space-4x);
}
@media screen and (min-width: 768px) {
  .comparison-contents {
    margin-top: var(--space-8x);
    margin-left: 25%;
    margin-right: 25%;
  }
}

.comparison-table {
  table-layout: fixed;
  border-collapse: collapse;
}
@media screen and (min-width: 768px) {
  .comparison-table {
    min-width: 800px;
  }
}

.comparison-table td {
  padding: 12;
}
@media screen and (min-width: 768px) {
  .comparison-table td {
    padding: 12 16;
  }
}

.comparison-table th {
  padding: 8;
}
@media screen and (min-width: 768px) {
  .comparison-table th {
    padding: 14;
  }
}

.comparison-table tr th:nth-child(1) {
  width: 20%;
  border: 1px var(--white) solid;
  background: var(--gray);
}
@media screen and (min-width: 768px) {
  .comparison-table tr th:nth-child(1) {
    width: 12.5%;
  }
}

.comparison-table tr th:nth-child(2) {
  width: 40%;
  background: var(--primary-color);
  font-weight: bold;
  font-size: var(--font-4x);
  line-height: 100%;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .comparison-table tr th:nth-child(2) {
    width: 43.75%;
    font-size: var(--font-5x);
  }
}

.comparison-table tr th:nth-child(3) {
  width: 40%;
  background: var(--gray-2);
  font-weight: bold;
  font-size: calc(2.75 * var(--font-unit));
  line-height: 140%;
  text-align: center;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .comparison-table tr th:nth-child(3) {
    width: 43.75%;
    font-size: calc(3.75 * var(--font-unit));
  }
}

.comparison-table tr:nth-child(n+2) td:nth-child(2) {
  border: 1px var(--white) solid;
  background: var(--purple-8);
}

.comparison-table tr:nth-child(n+2) td:nth-child(3) {
  border: 1px var(--purple-8) solid;
}

/* 目指せる年収レベル */
.comparison-table tr:nth-child(3) td:nth-child(2) {
  font-weight: bold;
  font-size: var(--font-4x);
  text-align: center;
  line-height: 100%;
  color: var(--purple);
}

/* 目指せる年収レベル */
.comparison-table tr:nth-child(3) td:nth-child(2)::after {
  content: "※1";
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 100%;
  vertical-align: top;
}

.comparison-table tr:nth-child(n+2) th:nth-child(1) {
  text-align: left;
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 140%;
  color: var(--black-4);
}

.comparison-table tr:nth-child(n+4) td:nth-child(2) {
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-4);
}
@media screen and (min-width: 768px) {
  .comparison-table tr:nth-child(n+4) td:nth-child(2) {
    font-size: var(--font-3xh);
  }
}

/* 目指せる年収レベル */
.comparison-table tr:nth-child(3) td:nth-child(3) {
  font-size: var(--font-4x);
  text-align: center;
  line-height: 100%;
  color: var(--black-2);
}

.comparison-table tr:nth-child(2) td:nth-child(3),
.comparison-table tr:nth-child(n+4) td:nth-child(3) {
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-2);
}
@media screen and (min-width: 768px) {
  .comparison-table tr:nth-child(2) td:nth-child(3),
  .comparison-table tr:nth-child(n+4) td:nth-child(3) {
      font-size: var(--font-3xh);
  }
}

.table-caption {
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: var(--font-3xh);
  line-height: 100%;
  color: var(--black-2);
}

.table-annotations {
  margin-top: var(--space-3x);
}

.table-annotation {
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-2);
}