.comparison-contents {
  margin: var(--space-6x) var(--space-4x) 0 var(--space-4x);
}

.comparison-table {
  table-layout: fixed;
  border-collapse: collapse;
}

.comparison-table td {
  padding: 12;
}

.comparison-table th {
  padding: 8;
}

.comparison-table tr th:nth-child(1) {
  width: 20%;
  border: 1px var(--white) solid;
  background: var(--gray);
}

.comparison-table tr th:nth-child(2) {
  width: 40%;
  background: var(--primary-color);
  font-weight: bold;
  font-size: var(--font-4x);
  line-height: 100%;
  color: var(--white);
}

.comparison-table tr th:nth-child(3) {
  width: 40%;
  background: var(--gray-2);
  font-weight: bold;
  font-size: calc(2.75 * var(--font-unit));
  line-height: 140%;
  text-align: center;
  color: var(--white);
}

.comparison-table tr:nth-child(n+2) td:nth-child(2) {
  border: 1px var(--white) solid;
  background: var(--purple-8);
}

.comparison-table tr:nth-child(n+2) td:nth-child(3) {
  border: 1px var(--purple-8) solid;
}

.comparison-table tr:nth-child(n+3):nth-child(-n+4) td:nth-child(2) {
  font-weight: bold;
  font-size: var(--font-4x);
  text-align: center;
  line-height: 100%;
  color: var(--purple);
}

.comparison-table tr:nth-child(n+4) td:nth-child(2)::after {
  content: "※1";
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 100%;
  vertical-align: top;
}

.comparison-table tr:nth-child(n+2) th:nth-child(1) {
  text-align: left;
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 140%;
  color: var(--black-4);
}

.comparison-table tr:nth-child(n+5) td:nth-child(2) {
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-4);
}

.comparison-table tr:nth-child(n+3):nth-child(-n+4) td:nth-child(3) {
  font-size: var(--font-4x);
  text-align: center;
  line-height: 100%;
  color: var(--black-2);
}

.comparison-table tr:nth-child(2) td:nth-child(3),
.comparison-table tr:nth-child(n+5) td:nth-child(3) {
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-2);
}

.table-caption {
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: var(--black-2);
}

.table-annotations {
  margin-top: var(--space-3x);
}

.table-annotation {
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-2);
}