#concept {
  position: relative;
}

#concept .main-caption {
  color: var(--white);
}

#concept .contents-caption {
  margin-top: calc(14 * var(--space-unit));
}

.messages {
  margin-top: var(--space-2x);
  margin-left: var(--space-6x);
  margin-right: var(--space-6x);
}
@media screen and (min-width: 768px) {
  .messages {
    margin-top: calc(1.5 * var(--space-unit));
    margin-left: var(--space-h-pc);
    margin-right: var(--space-h-pc);
  }
}

.message {
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 180%;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .message {
    font-size: var(--font-4xh);
    line-height: 240%;
    letter-spacing: 0.1em;
  }
}

.ms-engineer-title,
.sign {
  font-weight: bold;
  color: var(--white);
  line-height: 180%;
}

.ms-engineer-title {
  font-size: var(--font-3x);
}
@media screen and (min-width: 768px) {
  .ms-engineer-title {
    font-size: var(--font-3xh);
  }  
}

.signs {
  margin-top: var(--space-10x)
}

.sign {
  font-size: calc(3.75 * var(--font-unit));
}
@media screen and (min-width: 768px) {
  .sign {
    margin-top: var(--space-1x);
    font-size: var(--font-4xh);
  }
}