.counseling {
  position: relative;
}

.counseling-image {
  width: 100%;
  height: auto;
}

.concerns {
  margin: calc(14.5 * var(--space-unit)) var(--space-6x) 0 var(--space-6x);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .concerns {
    margin-top: calc(19 * var(--space-unit));
    margin-left: 36%;
    margin-right: 36%;
  }
}

.concern-balloon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: var(--purple-2);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concern-balloon {
    width: 128px;
    height: 128px;
  }
}

.concern {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: var(--font-3x);
  line-height: 140%;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .concern {
    font-size: var(--font-3xh);
  }
}

.concerns-caption {
  margin-top: var(--space-4x);
  font-weight: bold;
  font-size: var(--font-6x);
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--black);
}
@media screen and (min-width: 768px) {
  .concerns-caption {
    margin-top: var(--space-5x);
    font-size: var(--font-8x);
  }
}

.concerns-message {
  margin: var(--space-3x) var(--space-6x) 0 var(--space-6x);
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 160%;
  color: var(--black-2);
}
@media screen and (min-width: 768px) {
  .concerns-message {
    margin: var(--space-6x) 0 0 0;
    text-align: center;
  }
}

.inquiry-buttons {
  margin-top: var(--space-6x);
  margin-left: var(--space-6x);
  margin-right: var(--space-6x);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mail-inquiry-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 154px;
  border-radius: 4px;
  background-color: var(--navy);
}
@media screen and (min-width: 768px) {
  .mail-inquiry-button {
    height: 64px;
    width: 327px;
  }
}

.mail-inquiry-button .button-title {
  font-weight: bold;
  font-size: 16px;
  color: var(--white);
}

.LINE-button {
  margin-top: var(--space-4x);
}