.curriculum-captions-box {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .curriculum-captions-box {
    margin-left: var(--space-h-pc);
    margin-right: var(--space-h-pc);
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 768px) {
  .curriculum-captions-box .contents-caption {
    margin-left: 0px;
    margin-right: 0px;
    width: 70%;
  }
}

.curriculum-provider-logo {
  margin-top: var(--space-2x);
  text-align: center;
}

.curriculums {
  margin-top: var(--space-4x);
  margin-left: var(--space-4x);
  margin-right: var(--space-4x);
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .curriculums {
    margin-top: var(--space-3x);
    margin-left: var(--space-h-pc);
    margin-right: var(--space-h-pc);
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.curriculum {
  border-radius: 4px 4px 4px 4px;
}
@media screen and (min-width: 768px) {
  .curriculum {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    width: 47%;
  }
}

.curriculums .curriculum:nth-child(1) {
  border: 1px solid var(--primary-color);
}

.curriculums .curriculum:nth-child(2) {
  border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .curriculum+.curriculum {
    margin-top: var(--space-4x);
  }
}

.curriculum-caption {
  border-radius: 4px 4px 0px 0px;
  text-align: center;
}

.curriculums .curriculum:nth-child(1) .curriculum-caption {
  background-color: var(--primary-color);
}

.curriculums .curriculum:nth-child(2) .curriculum-caption {
  background-color: var(--secondary-color);
}

.curriculum-caption .captions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--space-4x);
  margin-right: var(--space-4x);
}

.curriculum-caption .caption-main {
  font-weight: bold;
  font-size: var(--space-4x);
  line-height: 120%;
  color: var(--white);
  text-align: left;
}

.curriculum-caption .caption-sub {
  margin: var(--space-5x) 0 var(--space-5x) var(--space-4x);
  font-family: Lato;
  font-weight: bold;
  font-size: var(--font-6x);
  text-align: right;
  line-height: 100%;
  color: var(--white);
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .curriculums .curriculum .curriculum-explanation-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.curriculum .curriculum-explanation-box .curriculum-explanation {
  margin: var(--space-4x);
  font-weight: bold;
  font-size: var(--font-4x);
  line-height: 160%;
}

.curriculums .curriculum:nth-child(1) .curriculum-explanation {
  color: var(--primary-color);
}

.curriculums .curriculum:nth-child(2) .curriculum-explanation {
  color: var(--secondary-color);
}
@media screen and (max-width: 767px) {
  .curriculums .curriculum:nth-child(2) .curriculum-explanation {
    margin-bottom: calc(10.5 * var(--space-unit));
  }
}

.marker-yellow {
  background: linear-gradient(transparent 0%, #FFF38A 0%);
}