.footer {
  width: 100%;
  background: var(--navy);
  overflow: hidden;
}

.footer-contents {
  margin-top: calc(16 * var(--space-unit));
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer-links {
  margin-top: calc(12 * var(--space-unit));
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .footer-links {
    margin-top: var(--space-10x);
    flex-flow: row;
  }
}

.footer-link {
  font-size: var(--font-3xh);
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;  
  color: var(--white);
  text-decoration: none;
}

.footer-link+.footer-link {
  margin-top: var(--space-6x);
}
@media screen and (min-width: 768px) {
  .footer-link+.footer-link {
    margin-top: 0;
    margin-left: var(--space-10x)
  }
}

.copy-right {
  margin-top: calc(12 * var(--space-unit));
  margin-bottom: var(--space-4x);
  font-size: var(--font-3xh);
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--white);
}