/* common class */
* { 
  margin: 0px; 
  padding: 0px; 
}

body {
  font-family: "YuGothic" ;
  color: var(--black-2);
}

.box {
  position: relative;
}

.flex-box {
  display: flex;
}

.flex-box-center {
  display: flex;
  align-items: center;
}

.flex-box-start {
  display: flex;
  align-items: start;
}

.flex-box-center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-box-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.width-fill-image {
  width: 100%;
  height: auto;
}

.vertial-writeing-mixed {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.inline-block {
  display: inline-block;
}

.text-align-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.circle {
  width: 104px;
  height: 104px;
  border-radius: 50%;
}

.fit-width {
  height: auto;
  width: 100%;
}

.visibility-hidden {
  visibility: hidden;
}

.opacity-03 {
  opacity: 0.3;
}

.rounded-top {
  border-radius: 4px 4px 0px 0px;
}

.top-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

/* specific class */
/* header */
.header {
  height: 56px;
  width: 100%;
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

/* contents */
#contents>div:nth-child(n+2) {
  margin-top: var(--space-20x);
}

/* contents-caption */
.contents-caption {
  display: flex;
  align-items: start;
  margin-left: var(--space-6x);
  margin-right: var(--space-6x)
}

.contents-caption .sub-caption {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: var(--purple-5);
  font-family: Lato;
  font-weight: bold;
  font-size: var(--font-3xh);
  line-height: 100%;
  letter-spacing: 0.22em;
}

.contents-caption .main-caption {
  font-weight: bold;
  font-size: var(--font-6x);
  line-height: 140%;
  letter-spacing: 0.1em;
  color: var(--black);
}

.contents-caption>.main-caption {
  margin-left: var(--space-4x);
}

.contents-caption>.main-caption-section {
  margin-left: var(--space-4x);
}

.contents-caption .annotation {
  margin-top: var(--space-2x);
  font-weight: 500;
  font-size: var(--font-3xh);
  line-height: 140%;
  color: var(--black-2)
}

.contents-caption .explanation {
  margin-top: var(--space-4x);
  font-size: calc(3.75 * var(--font-unit));
  line-height: 160%;
  color: var(--black-2);
}

/* button */
.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 56px;
  width: 327px;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background: linear-gradient(91.68deg, var(--primary-color) 0%, #5055CD 100%);
}

.primary-button .icon-next,
.secondary-button .icon-next {
  position: absolute;
  right: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 56px;
  width: 327px;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.underline-primary-color {
  border-bottom: solid 2px var(--primary-color);
}

.marker-yellow {
  background: linear-gradient(transparent 0%, #FFF38A 0%);
}

/* image */
.img-cousering {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
}

/* comparion-table */
.comparison-table {
  width: 92%;
  table-layout: fixed;
  border-collapse: collapse;
}

.comparison-table td {
  border: 1px #EAE8F7 solid;
  padding: 12;
}

.comparison-table th {
  border: 1px var(--white) solid;
  padding: 8;
}

.comparison-table tr th:nth-child(1) {
  width: 20%;
  background: #EAE8F7;
}

.table-note,
.comparison-table tr:nth-child(n+3):nth-child(-n+4) td {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 14px;
  color: var(--black-2);
}

.comparison-table tr th:nth-child(1),
.comparison-table tr:nth-child(n+5) {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  color: var(--black-4);
}

.comparison-table tr th:nth-child(2) {
  width: 40%;
}

.comparison-table tr th:nth-child(3) {
  width: 40%;
}

.table-caption {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 14px;
  color: var(--black-2);
}

.rectangle-147-96 {
  width: 147px;
  height: 96px;
}

/* アコーディオンボタン（開閉ボタン） */
.acd-check {
  display: none;
}

.acd-content {
  height: 0;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}

.acd-check:checked + #acd-label + .acd-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}