
@media screen and (min-width: 767px) {
  h1 {
    color: red;
  }
}

/* color */
:root {
  --primary-color: #6121A1;
  --primary-color-bright: #DADBF2;
  --secondary-color: #30349B;
  --black: #000000;
  --black-bright: #222222;
  --black-bright-2: #444444;
  --white: #ffffff;
  --purple: #612A98;
  --purple-bright: #C1AFD2;
}

/* background color */
.purple-1 {
  background-color: #E6DEEE;
}

.purple-2 {
  background-color: #EAE8F7;
}

.purple-3 {
  background-color: #E8E9F7;
}

.purple-4 {
  background-color: #E8EBF7;
}

.gradiention-1 {
  background: linear-gradient(244.5deg, #7A47AC 0%, #5857B5 100%);
}

.primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.black-bright-2 {
  background-color: var(--black-bright-2);
}

/* margins */
.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-h-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-h-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-left-24 {
  margin-left: 24px;
}

.margin-v-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-12 {
  margin-top: 16px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-top-26 {
  margin-top: 26px;
}

.margin-top-28 {
  margin-top: 28px;
}

.margin-top-53 {
  margin-top: 53px;
}

.margin-top-72 {
  margin-top: 72px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-n-42 {
  margin-top: -42px;
}

.margin-bottom-24 {
  margin-bottom: 24px;  
}

.height-56 {
  height: 56px;
}

/* typography */
.caption1 {
  color: var(--black);
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.caption1-white {
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.caption2 {
  color: var(--black-bright);
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
}

.caption2-primary {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
}

.caption2-white {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.1em;
}

.caption3-primary {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.caption3-secondary {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.caption3-white {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
}

.caption3-purple {
  color: var(--purple);
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;  line-height: 100%;
}

.caption4-white {
  color: var(--white);
  font-weight: bold;
  font-size: 11px;
  line-height: 140%;
}

.sub-caption-purple {
  color: var(--purple-bright);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.22em;
}

.body-text-bold {
  color: var(--black-bright);
  font-weight: bold;
  font-size: 15px;
  line-height: 200%;
}

.body-text {
  color: var(--black-bright);
  font-size: 15px;
  line-height: 160%;
}

.body-text-white {
  color: var(--white);
  font-size: 15px;
  line-height: 160%;
}

.note {
  color: var(--black-bright);
  font-size: 12px;
  line-height: 140%;
}

.item .item-text {
  color: var(--black-bright);
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.1em;
}

.button-title {
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
}

.box .message-on-img-woman {
  position: absolute;
  left: 24px;
  bottom: 16px;
  font-weight: bold;
  font-size: 44px;
  line-height: 62px;
}

.number {
  font-family: Avenir;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: var(--white);
}

/* common class */
* { 
  margin: 0px; 
  padding: 0px; 
}

body {
  font-family: "YuGothic" ;
  color: var(--black-bright);
}

.box {
  position: relative;
}

.box-flex-center {
  display: flex;
  align-items: center;
}

.box-flex-start {
  display: flex;
  align-items: start;
}

.box-flex-center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width-fill-image {
  width: 100%;
  height: auto;
}

.vertial-writeing-mixed {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.inline-block {
  display: inline-block;
}

.text-align-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fit-width {
  height: auto;
  width: 100%;
}

.visibility-hidden {
  visibility: hidden;
}

.opacity-03 {
  opacity: 0.3;
}

.rounded-top {
  border-radius: 4px 4px 0px 0px;
}

/* specific class */
/* header */
.header {
  height: 56px;
  width: 100%;
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

/* button */
.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 56px;
  width: 327px;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background: linear-gradient(91.68deg, var(--primary-color) 0%, #5055CD 100%);
}

.primary-button .icon-next {
  position: absolute;
  right: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.underline-primary-color {
  border-bottom: solid 2px var(--primary-color);
}

.marker-yellow {
  background: linear-gradient(transparent 0%, #FFF38A 0%);
}

/* box */
.primary-color-bright-box {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 308px;
  height: 48px;
  background-color: var(--primary-color-bright);
}

.primary-color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 48px;
  background-color: var(--primary-color);
}

.gradiention-rect {
  position: absolute;
  width: 100%;
  height: 491px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(240.91deg, #7A47AC 5.1%, #5857B5 100%);
  z-index: -1;
}

/* image */
.img-woman-02 {
  position: absolute;
  top: 216px;
  right: 0px;
  width: 223px;
  height: 286px;
  z-index: -1;
}

/* horizontal-list */
.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-inline-start: 0px;
}

.horizontal-list .item {
  display: inline-block;
  width: 280px;
  height: 491px;
  white-space: normal;
  margin-left: 24px;
  background-color: var(--white);
}

.horizontal-list li:last-child {
  margin-right: 24px;
}

.box-horizontal-list {
  height: 515px;
  width: 100%;
}

/* rounded-boarder */
.rounded-boarder-primary {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.rounded-boarder-secondary {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

/* comparion-table */
.comparison-table {
  width: 92%;
  table-layout: fixed;
  border-collapse: collapse;
}

.comparison-table td {
  border: 1px #EAE8F7 solid;
  padding: 12;
}

.comparison-table th {
  border: 1px var(--white) solid;
  padding: 8;
}

.comparison-table tr th:nth-child(1) {
  width: 20%;
  background: #EAE8F7;
}

.table-note,
.comparison-table tr:nth-child(n+3):nth-child(-n+4) td {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 14px;
  color: var(--black-bright);
}

.comparison-table tr th:nth-child(1),
.comparison-table tr:nth-child(n+5) {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  color: var(--black-bright-2);
}

.comparison-table tr th:nth-child(2) {
  width: 40%;
}

.comparison-table tr th:nth-child(3) {
  width: 40%;
}

.table-caption {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 14px;
  color: var(--black-bright);
}