.merits {
  margin: calc(6.5 * var(--space-unit)) var(--space-4x) 0 var(--space-4x);
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .merits {
    margin: var(--space-8x) auto 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 68%;
  }
}

.merit {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .merit {
    width: 47.5%;
  }
}

.merits>.merit:nth-child(1) {
  background-color: var(--purple-1);
}

.merits>.merit:nth-child(2) {
  background-color: var(--purple-2);
}

.merits>.merit:nth-child(3) {
  background-color: var(--purple-3);
}

.merits>.merit:nth-child(4) {
  background-color: var(--purple-4);
}

@media screen and (max-width: 767px) {
  .merit+.merit {
    margin-top: var(--space-4x);    
  }
}

@media screen and (min-width: 768px) {
  .merits>.merit:nth-child(n+1):nth-child(-n+2) {
    height: 530px;
  }
}

@media screen and (min-width: 768px) {
  .merits>.merit:nth-child(n+3):nth-child(-n+4) {
    margin-top: 5%;
    height: 453px;
  }
}

.merit-contents {
  margin: var(--space-6x);
}

.merit-captions {
  display: flex;
  align-items: center;
}

.merit-caption {
  margin-left: var(--space-4x);
  font-weight: bold;
  font-size: var(--font-5x);
  line-height: 140%;
  color: var(--black-2);
}

.merit-body {
  margin-top: var(--space-4x);
  font-size: 15px;
  line-height: 160%;
  color: var(--black-2);
}

.merit-emphasis {
  font-weight: bold;
}

.nomad-worker,
.engineer-shortage {
  margin-top: var(--space-4x);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .img-engineer-shortage {
    width: 64%;
    height: auto;
  }
}

.merit-reference {
  font-size: var(--font-3x);
  line-height: 160%;
  color: var(--black-2);
}

.engineer-shortage+.merit-reference {
  margin-top: var(--space-3x);
}

#work-style+.merit-reference {
  margin-top: var(--space-4x);
}

.income-before-after {
  margin-top: var(--space-4x);
  text-align: center;
}

.income-before,
.income-after {
  background-color: var(--white);
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
}

.before-label,
.after-label {
  display: inline-block;
  border-radius: 4px 0px 4px 0px;
  overflow: hidden;
}

.before-label {
  background-color: var(--black-4);
}

.after-label {
  background-color: var(--primary-color);
}

.label-caption {
  margin: var(--space-1x) var(--space-2x);
  font-weight: 600;
  font-size: var(--font-3x);
  line-height: 100%;
  color: var(--white);
}

.contens-before,
.contens-after {
  margin: calc(0.5 * var(--space-unit)) 0 var(--space-3x) 0;
  text-align: center;
}

.contens-before p+p {
  margin-top: var(--space-2x);
}

.contens-after p+p {
  margin-top: var(--space-3x);
}

.sub-caption-before,
.sub-caption-after {
  font-weight: bold;
  font-size: var(--font-3xh);
  line-height: 100%;
}

.sub-caption-before {
  color: var(--black-4);
}

.sub-caption-after {
  color: #6121A1;
}

.main-before,
.main-after {
  font-weight: bold;
  font-size: var(--font-5x);
  line-height: 160%;
}

.main-before {
  color: var(--black-4);
}

.main-after {
  color: var(--primary-color);
}

.main-before-emphasis,
.main-after-emphasis {
  font-family: Avenir Next;
  font-weight: 600;
}

.main-before-emphasis {
  font-size: var(--font-7x);
}

.main-after-emphasis {
  font-size: var(--font-9x);
  color: var(--primary-color);
}

.income-reference {
  font-weight: 500;
  font-size: calc(2.75 * var(--font-unit));
  line-height: 160%;
  color: var(--black-4);
}

.income-icon-next {
  margin: 4 0;
}