.price-contents {
  margin-top: var(--space-5x);
  overflow: hidden;
  background-color: var(--gray);
}
@media screen and (min-width: 768px) {
  .price-contents {
    margin-top: var(--space-8x);
    margin-left: 25%;
    margin-right: 25%;
  }
}

.price-text {
  margin: var(--space-5x) var(--space-6x) 0 var(--space-6x);
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 160%;
  color: var(--black-2);
}
@media screen and (min-width: 768px) {
  .price-text {
    margin: var(--space-8x) var(--space-8x) 0 var(--space-8x);
  }
}

.prices {
  margin: var(--space-4x) var(--space-6x) 0 var(--space-6x);
}

.price {
  /* text-align: center; */
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .price {
    display: flex;
    align-items: center;
    height: calc(28 * var(--space-unit));
  }
}

.price+.price {
  margin-top: var(--space-4x)
}

.price-basics,
.price-immersive {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.price-basics {
  margin: var(--space-4x) auto var(--space-3x) auto;
  text-align: center;
}

.price-immersive {
  margin: var(--space-4x) auto;
}

@media screen and (min-width: 768px) {
  .price-basics,
  .price-immersive {
    margin: 0 0 0 4%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
  }
}

@media screen and (min-width: 768px) {
  .price-immersive-captions {
    display: flex;
    align-items: center;
  }
}

.price-caption {
  font-weight: bold;
  font-size: var(--font-5x);
  line-height: 100%;
  color: var(--primary-color);
}

.price-body {
  margin-top: var(--space-2x);
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 100%;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .price-body {
    margin-top: 0px;
  }
}

.price-main {
  margin-right: calc(0.5 * var(--space-unit));
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-6x);
  line-height: 100%;
}

.price-braces {
  font-weight: bold;
  font-size: var(--font-3x);
  color: var(--primary-color);
  line-height: 100%;
}
@media screen and (max-width: 767px) {
  .price-braces {
    margin-top: var(--space-1x);
  }
}

.price-total {
  margin: var(--space-6x) var(--space-6x) 0 var(--space-6x);
  display: flex;
}
@media screen and (min-width: 768px) {
  .price-total {
    justify-content: flex-end;
  }
}

.price-total-block {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-total-block {
    width: 240px;
  }
}

.price-total hr {
  margin-top: var(--space-3x);
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: var(--primary-color);
}

.price-annotations {
  margin: var(--space-6x);
}

.price-annotation {
  font-size: var(--space-3x);
  line-height: 160%;
  color: var(--black-2);
}

.price-total-body {
  font-weight: bold;
  font-size: var(--font-4x);
  line-height: 120%;
  color: var(--black-2);
}

.price-total-emphasis {
  margin-left: var(--space-2x);
  font-family: Avenir Next;
  font-weight: 600;
  font-size: var(--font-7x);
  line-height: 100%;
  text-align: right;
}

.price-total-sub-emphasis {
  margin-left: calc(0.5 * var(--space-unit));
  font-size: var(--font-5x);
  line-height: 100%;
}

.price-total-weakness {
  margin-left: calc(0.5 * var(--space-unit));
  font-size: var(--font-3x);
  line-height: 100%;
}

.price-total-head {
  vertical-align: text-bottom;
}