.top-contents-box {
  position: relative;
}

.message-on-img-woman {
  position: absolute;
  left: var(--space-6x);
  bottom: calc(26 * var(--space-unit));
  font-weight: bold;
  font-size: calc(11 * var(--space-unit));
  line-height: calc(15.5 * var(--space-unit));
}

.icon-minimum-span {
  margin-bottom: var(--space-2x);
}

.fisrt-view-sub-caption {
  margin-top: auto;
  margin-left: var(--space-4x);
  margin-bottom: calc(4.5 * var(--space-unit));
  color: var(--black-2);
  font-weight: bold;
  font-size: 14px;
  color: var(--black-2);
  line-height: 160%;
  letter-spacing: calc(0.4 * var(--space-unit));
}

.first-view-bottom-content {
  position: absolute;
  bottom: 0px;
  left: var(--space-4x);
}

.entry-button-above-caption {
  margin-top: var(--space-4x);
  text-align: center;
  font-weight: bold;
  font-size: var(--font-4xh);
  line-height: 160%;
  color: var(--black-2);
}

.comment-body {
  margin: 0 calc(1.5 * var(--space-unit));
  color: var(--primary-color);
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 100%;
}

.entry-button-comment {
  margin-top: var(--space-4x);
  text-align: center;
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 100%;
}

#top .entry-button {
  margin: var(--space-3x) auto 0 auto
}

#top .dead-line {
  margin-top: var(--space-3x);
  font-weight: bold;
  font-size: var(--font-3x);
  text-align: center;
  line-height: 100%;
  color: var(--black);
}

.closing-word-box {
  position: relative;
  margin-top: var(--space-6x);
}

.img-woman-02 {
  position: absolute;
  top: 216px;
  right: 0px;
  width: 223px;
  height: 286px;
  z-index: -1;
}

.closing-caption {
  margin: var(--space-6x) var(--space-6x) 0 var(--space-6x);
  font-weight: bold;
  font-size: var(--font-5x);
  line-height: 160%;
  color: var(--black-2);
}

.closing-word {
  margin: var(--space-4x) var(--space-6x) 0 var(--space-6x);
  font-weight: bold;
  font-size: calc(3.75 * var(--font-unit));
  line-height: 200%;
  color: var(--black-2);
}