:root {
  --font-unit: 4px;
  --font-1x: calc(1 * var(--font-unit));
  --font-2x: calc(2 * var(--font-unit)); 
  --font-3x: calc(3 * var(--font-unit));
  --font-4x: calc(4 * var(--font-unit));
  --font-4xh: calc(4.5 * var(--font-unit));
  --font-5x: calc(5 * var(--font-unit));
  --font-6x: calc(6 * var(--font-unit));
  --font-7x: calc(7 * var(--font-unit));
  --font-8x: calc(8 * var(--font-unit));
  --font-9x: calc(9 * var(--font-unit));
}

.font-6x-bold {
  font-weight: bold;
  font-size: var(--font-6x);
  /* TODO: remove */
  color: var(--black);
  letter-spacing: 0.1em;
}

.caption1-lh140 {
  color: var(--black);
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.1em;
}

.caption1-white {
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.caption1-number-primary {
  color: var(--primary-color);
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
}

.caption1-number-secondary {
  color: var(--secondary-color);
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
}

.caption2 {
  color: var(--black-1);
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
}

.caption2-primary {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
}

.caption2-secondary {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
}

.caption2-white {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.1em;
}

.caption3 {
  color: var(--black-1);
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.caption3 {
  color: var(--black-1);
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.caption3-primary {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.caption3-secondary {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}

.caption3-white {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
}

.caption3-purple {
  color: var(--purple);
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;  line-height: 100%;
}

.caption4-white {
  color: var(--white);
  font-weight: bold;
  font-size: 11px;
  line-height: 140%;
}

.sub-caption {
  color: var(--black-1);
  font-size: 14px;
  line-height: 140%;
}

.sub-caption-purple {
  color: var(--purple-5);
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.22em;
}

.body-text-bold-lh160 {
  color: var(--black-1);
  font-weight: bold;
  font-size: 15px;
  line-height: 160%;
}

.body-text-bold-lh200 {
  color: var(--black-1);
  font-weight: bold;
  font-size: 15px;
  line-height: 200%;
}

.body-text {
  color: var(--black-1);
  font-size: 15px;
  line-height: 160%;
}

.body-text-white {
  color: var(--white);
  font-size: 15px;
  line-height: 160%;
}

.body-text-primary {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 15px;
}

.body-text-secondary {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 15px;
}

.note {
  color: var(--black-1);
  font-size: 12px;
  line-height: 140%;
}

.note-bold {
  color: var(--black-1);
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
}

.note-white {
  color: var(--white);
  font-weight: bold;
  font-size: 12px;
}

.note-primary {
  color: var(--primary-color);
  font-family: Lato;
  font-weight: bold;
  font-size: 12px;
}

.note-secondary {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
}

.note-secondary-lato {
  color: var(--secondary-color);
  font-family: Lato;
  font-weight: bold;
  font-size: 12px;
}

.item .item-text {
  color: var(--black-1);
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.1em;
}

.button-title {
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
}

.button-title-secondary {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
}

.number {
  color: var(--black-1);
  font-family: Lato;
  font-weight: bold;
  font-size: 28px;
}