.voices {
  position: relative;
  margin-top: var(--space-7x);
  height: 584px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .voices {
    margin-top: var(--space-8x);
    height: 532px;
  }
}

.gradiention-rect {
  position: absolute;
  width: 100%;
  height: 560px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(240.91deg, #7A47AC 5.1%, #5857B5 100%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .gradiention-rect {
    height: 508px;
    background: linear-gradient(91.68deg, #6121A1 0%, #5055CD 100%);
  }
}

/* horizontal-list */
.voices .horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-inline-start: 0px;
}
@media screen and (min-width: 768px) {
  .voices .horizontal-list {
    padding-inline-start: 18%;
  }
}

.voices .horizontal-list .item {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 560;
  white-space: normal;
  margin-left: var(--space-6x);
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .voices .horizontal-list .item {
    width: 320px;
  }
}

.voices .horizontal-list li:last-child {
  margin-right: var(--space-6x);
}

.voices .item .item-texts {
  margin: var(--space-4x) var(--space-6x) 0 var(--space-6x);
}

.voices .item .item-texts .item-caption {
  font-weight: bold;
  font-size: var(--font-4x);
  line-height: 140%;
  letter-spacing: 0.1em;
  color: var(--purple);
}

.voices .item .item-texts .item-text {
  margin-top: var(--space-3x);
  font-size: calc(3.75 * var(--font-unit));
  line-height: 160%;
  letter-spacing: 0.1em;
  color: var(--black-2);
}